.modal-confirmation {
    width: 85%;
    height: 70vh;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
}

.layer {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-image: url('../../images/emile-guillemot-ci7gkM_29wA-unsplash.png');
}