.home {
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-home {
    width: 90%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.button-service {
    position: absolute;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 300px;
}

.hide {
    display: none;
}